<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently a student at
      <a class="underline-link" href="http://www.gecbh.ac.in/" target="_blank">GECB, Trivandrum</a> building things from the new knowledge I aquire everyday.
      Undergoing certification from
      <a class="underline-link" href="http://icecsp.com/" target="_blank">IBM and ASAP Kerala</a>, a one year long course in AI/ML Engineering. Having finished my summer internship from
      <a class="underline-link" href="https://www.vssc.gov.in/VSSC/" target="_blank">VSSC, ISRO</a>, and a four year long volunteering journey with
      <a class="underline-link" href="https://gecbieee.org/" target="_blank">IEEE and IEEE Computer Society</a>, I'm looking forward to new and exciting journeys ahead.
    </p>

    <p>
      As a data science enthusiast with machine learning / deep learning skillset, I enjoy building solutions which bring insight from deep analysis of the problem and all its parameters, 
      which after properly studying I use my full-stack development skill to visualize and communicate these insights in a comprehensive and intuitive manner to all involved, making for a well crafted experience.
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably jamming on my guitar or penning down ideas for my next big plan to explore and travel.
    </p>
  </div>
</section>
