<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">

    <div class="project blistabloc">
      <figure class="project__pic">
        <a href="https://github.com/Madhav-Somanath/DeepNotes" target="_blank">
          <img src="img\featured\DeepNotes.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://github.com/Madhav-Somanath/DeepNotes" target="_blank">Music Generation using Tensorflow</a>
        </div>
        <p>Tensorflow based Music MIDI generator using LSTM trained based on my favorite childhood anime and video game songs.</p>
      </figcaption>
    </div>

    <div class="project interventions">
      <figure class="project__pic">
        <a href="http://aagneya.co.in/" target="_blank">
          <img src="img\featured\Aagneya20.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="http://aagneya.co.in/" target="_blank">Aagneya 20'</a>
        </div>
        <p>Designed and Developed the official website for Aagneya, the techno-cultural fest of Government Engineering College, Trivandrum.</p>
      </figcaption>
    </div>

    <div class="project blistabloc">
      <figure class="project__pic">
        <a href="https://windenergypredictor.herokuapp.com/" target="_blank">
          <img src="img\featured\WindEnergyPredictor.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://windenergypredictor.herokuapp.com/" target="_blank">Wind Energy Output Predictor</a>
        </div>
        <p>Time series machine learning model based on lasso regression and LSTM (Tensorflow), made into a web-app with Streamlit and hosted on Heroku.</p>
      </figcaption>
    </div>


  </div>
</section>
